doctype html
html
	head
		title HELLO!
		link(rel="stylesheet" type="text/css" href="static/css/main.css")
		
	body
		p BONJOUR
		.slider
			.slider-item a
			.slider-item
			.slider-item
		script(src="static/js/lib.min.js")
		script(src="static/js/main.js")